table{
    background-color: #E8E8E8;
}

.elso{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    }



body{
    background-image: url(img/hatter.jpg);
    }

.fejlec{
    background-image: url(img/fejlec.jpg);
    margin-top: zero;
    height: 110px;
    }


h1{
    text-align: center;
}

.bal{
    background-color: #E8E8E8;
    color: #800000;
    }

.ul{
    list-style-type:none;
}

.iln{
    font-size: 120%;
}

.piros{
    margin-top: 200px;
}

.h6{
    margin-left: 30px;
    }



.jobb{
    background-color: #FFFFFF;
    width: 80%;
    background-image: url(img/tartalomkep.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    }

p{
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 100px;
    }